<!---Main Header-->

<div class="main-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-auto">
        <div class="site-brand">
          <a href="#">
            <img [src]="logo" (click)="showindex()" style="width:200px;height:44px;" class="logo" alt="Logo" />
          </a>
        </div>
      </div>

      <div class="col-auto order-md-3 ml-auto col">
        <nav class="user-profile">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <div class="img-holder">
                <img src="assets/images/user.png" class="userimg" alt="" />
              </div>
            </div>

            <div class="col pl-1 mt-n1">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle pb-0" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" position="left" aria-haspopup="true" aria-expanded="false">
                    {{user.forenames}} {{user.surname}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="javascript:void(0)">Profile</a>
                    <a class="dropdown-item" href="javascript:void(0)">Settings</a>
                    <a (click)="logout()" class="dropdown-item" href="javascript:void(0)">Logout</a>
                  </div>
                  <div class="admin">Admin</div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- style="background-color: #a4c639;" -->

<!---Navigation-->
<div class="navigation" style="background-color: #007437;border-color:#007437">
  <div class="container" style="background-color: #007437;border-color:#007437">
    <div class="row" style="background-color: #007437;border-color:#007437">
      <div class="col" *ngIf="findLength(menu)>1" style="background-color: #007437;border-color:#007437">
        <!-- Navbar -->
        <nav id="smart-menu" class="sm sm-blue" style="background-color: #007437;border-color:#007437">
          <li style="background-color: #007437;border-color:#007437">
            <a (click)="redirectToAppsStore()" style="background-color: #007437;border-color:#007437"><i
                class="fas fa-home font-lg" style="color: white;"></i></a>
          </li>
          <li *ngFor="let m of menu" style="background-color: #007437;border-color:#007437"><a href="#"
              style="background-color: #007437;border-color:#007437">{{m.cat}} </a>
            <ul *ngIf="isNotEmpty(m.pri)" style="background-color: #007437;border-color:#007437">
              <li *ngFor="let s of m.pri" style="background-color: #007437;border-color:#007437"><a
                  [routerLink]="[s.link]" routerLinkActive="linkactive"
                  style="background-color: #007437;border-color:#007437">{{s.name}}</a></li>
            </ul>
          </li>
        </nav>

      </div>
      <div class="col" *ngIf="findLength(menu)==1" style="background-color: #007437;border-color:#007437">
        <!-- Navbar -->
        <nav id="smart-menu" class="sm sm-blue" style="background-color: #007437;border-color:#007437">
          <li style="background-color: #007437;border-color:#007437">
            <a (click)="redirectToAppsStore()" style="background-color: #007437;border-color:#007437"><i
                class="fas fa-home font-lg" style="color: white;"></i></a>
          </li>
          <li *ngFor="let m of smenu" style="background-color: #007437;border-color:#007437"><a [routerLink]="[m.link]"
              routerLinkActive="linkactive" style="background-color: #007437;border-color:#007437">{{m.name}} </a>
          </li>
        </nav>
      </div>
    </div>
  </div>

  <div class="myinput" style="display: none;background-color: #007437;border-color:#007437">

  </div>
</div>
