body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0
}

.contents {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 80px;
  padding-left: 80px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px
}

p {
  margin-top: 10px
}

.container {
  max-width: 92%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box
}

body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

p {
  margin-bottom: 30px;
  font-size: 14px;
  color: #666;
  line-height: 1.5
}

a {
  text-decoration: none !important
}

ul {
  padding: 0;
  margin: 0;
  list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  5% {
    opacity: 1
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  5% {
    opacity: 1
  }

  100% {
    opacity: 0;
    transform: scale(1)
  }
}

header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  background-color: transparent;
  height: 80px;
  transition: all .3s ease-in-out
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.services {
  margin-top: 140px
}

.contact-us {
  background-color: #f7f7f7;
  padding: 140px 0
}

footer {
  background-color: #232323;
  padding: 80px 0;
  color: #fff
}

footer .footer-item {
  width: 300px
}

footer h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .25px;
  margin-bottom: 35px
}

footer p {
  color: #fff
}

footer ul.social-icons {
  margin-top: 25px
}

footer ul.social-icons li {
  display: inline-block;
  margin-right: 5px
}

footer ul.social-icons li:last-child {
  margin-right: 0
}

footer ul.social-icons li a {
  width: 34px;
  height: 34px;
  display: inline-block;
  line-height: 34px;
  text-align: center;
  background-color: #fff;
  color: #232323;
  border-radius: 50%;
  transition: all .3s
}

footer ul.social-icons li a:hover {
  background-color: #a4c639
}

footer ul.menu-list li {
  margin-bottom: 13px
}

footer ul.menu-list li:last-child {
  margin-bottom: 0
}

footer ul.menu-list li a {
  font-size: 14px;
  color: #fff;
  transition: all .3s
}

footer ul.menu-list li a:hover {
  color: #a4c639
}

.page-heading {
  text-align: center;
  background-image: url(src/assets/images/page-heading-bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 150px 0;
  color: #fff
}

.page-heading h1 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 18px
}

.page-heading span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  display: block
}

.contact-information {
  margin-top: 140px
}

.contact-information .contact-item {
  padding: 60px 30px;
  background-color: #f7f7f7;
  text-align: center
}

.contact-information .contact-item i {
  color: #a4c639;
  font-size: 48px;
  margin-bottom: 40px
}

.contact-information .contact-item h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .25px;
  margin-bottom: 15px
}

.contact-information .contact-item p {
  margin-bottom: 20px
}

.contact-information .contact-item a {
  font-weight: 600;
  color: #a4c639;
  font-size: 15px
}

@media (max-width:768px) {
  .services .service-item {
    margin-bottom: 30px
  }

  footer {
    padding: 80px 0 20px 0
  }

  footer .footer-item {
    border-bottom: 1px solid #343434;
    margin-bottom: 30px;
    padding-bottom: 30px
  }

  .contact-item {
    margin-bottom: 30px
  }
}
