<div class="form-group">
  <label class="custom-label form-label">Currency Symbol Replacement
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row">
      <div class="col-md-10" *ngIf="disabled==true">
          <ng-select [(ngModel)]="currencysymbolreplacementID" [disabled]="disabled" name="currencysymbolreplacementID" maxlength="50">
              <ng-option *ngFor="let currencysymbolreplacement of currencysymbolreplacementsAll" [value]="currencysymbolreplacement.id" [disabled]="disabled">
                  {{ currencysymbolreplacement.code }} - {{ currencysymbolreplacement.description }}
              </ng-option>
          </ng-select>
      </div>
      <div class="col-md-10" *ngIf="disabled==false">
          <ng-select [(ngModel)]="currencysymbolreplacementID" [disabled]="disabled" name="currencysymbolreplacementID" maxlength="50">
              <ng-option *ngFor="let currencysymbolreplacement of currencysymbolreplacements" [value]="currencysymbolreplacement.id" [disabled]="disabled">
                  {{ currencysymbolreplacement.code }} - {{ currencysymbolreplacement.description }}
              </ng-option>
          </ng-select>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="currencysymbolreplacementGet()">
              <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
      </div>
  </div>
</div>
