.btn-primary {
  background-color: #007437 !important;
  border-color: #007437 !important
}

.card .card-header .btn {
  background-color: #fff !important;
  color: #007437
}

.card .card-header .card-title,
.card-primary .card-header .card-title,
.modal-primary .modal-header .card-title {
  color: #fff;
  font-weight: 700;
  font-size: 15px
}

.card .card-header,
.card-primary .card-header,
.modal-primary .modal-header {
  background: #007437
}
