<div class="collapse-card-h container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-primary card">
                <div class="card-header">
                    <div class="align-items-center row">
                        <div class="col">
                            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                                class="card-title">Payments
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <app-payment #payments [view]=2 (edit)="edit($event)"></app-payment>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="add" role="dialog" tabindex="-1">
    <app-payment #addpayment [view]=3 (cancel)="cancel()"></app-payment>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="edit" role="dialog" tabindex="-1">
    <app-payment #editpayment [view]=4 (cancel)="cancel()"></app-payment>
</div>