<div *ngIf="view==1" class="form-group">
    <label class="custom-label form-label">Product
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
    <div class="row">
        <div class="col-md-10">
            <ng-select *ngIf="disabled==false" [(ngModel)]="productID" [disabled]="disabled" name="productID" (change)="change($event)">
                <ng-option *ngFor="let product of products" [value]="product.product_ID" [disabled]="disabled">
                    {{ product.product_CODE }} - {{ product.product_NAME }}
                </ng-option>
            </ng-select>
            <ng-select *ngIf="disabled==true" [(ngModel)]="productID" [disabled]="disabled" name="productID">
                <ng-option *ngFor="let product of productsAll" [value]="product.product_ID" [disabled]="disabled">
                    {{ product.product_CODE }} - {{ product.product_NAME }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="productGet()">
              <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
        </div>
    </div>
</div>
