<div class="form-group">
    <label class="custom-label form-label">Cash Flow Rate Type
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="cashflowratetypeID" [disabled]="disabled" name="cashflowratetypeID" maxlength="50">
                <ng-option *ngFor="let cashflowratetype of cashflowratetypesAll" [value]="cashflowratetype.id" [disabled]="disabled">
                    {{ cashflowratetype.code }} - {{ cashflowratetype.description }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="cashflowratetypeID" [disabled]="disabled" name="cashflowratetypeID" maxlength="50">
                <ng-option *ngFor="let cashflowratetype of cashflowratetypes" [value]="cashflowratetype.id" [disabled]="disabled">
                    {{ cashflowratetype.code }} - {{ cashflowratetype.description }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="cashflowratetypeGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
  </div>