<div class="form-group">
  <label class="custom-label form-label">Card Type
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row">
      <div class="col-md-10" *ngIf="disabled==true">
          <ng-select [(ngModel)]="cardtypeID" [disabled]="disabled" name="cardtypeID" maxlength="50">
              <ng-option *ngFor="let cardtype of cardtypesAll" [value]="cardtype.id" [disabled]="disabled">
                  {{ cardtype.code }} - {{ cardtype.description }}
              </ng-option>
          </ng-select>
      </div>
      <div class="col-md-10" *ngIf="disabled==false">
          <ng-select [(ngModel)]="cardtypeID" [disabled]="disabled" name="cardtypeID" maxlength="50">
              <ng-option *ngFor="let cardtype of cardtypes" [value]="cardtype.id" [disabled]="disabled">
                  {{ cardtype.code }} - {{ cardtype.description }}
              </ng-option>
          </ng-select>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="cardtypeGet()">
              <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
      </div>
  </div>
</div>
