<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.css">
  <link rel="stylesheet" href="services.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Page Content -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #a4c639;">FINANCE SERVICES</h1>
          <span>We are over 20 years of experience</span>
        </div>
      </div>
    </div>
  </div>

  <!-- services -->
  <div class="single-services">
    <div class="container">
      <div class="row" id="tabs">
        <div class="col-md-4">
          <ul>
            <li><a (click)="showDiv(1)" style="color:white;">Trial Balance <i class="fa fa-angle-right"></i></a></li>
            <li><a (click)="showDiv(2)" style="color:white;">Income Statement <i class="fa fa-angle-right"></i></a></li>
            <li><a (click)="showDiv(3)" style="color:white;">Profit & Loss <i class="fa fa-angle-right"></i></a></li>
            <li><a (click)="showDiv(4)" style="color:white;">Balance Sheet <i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
        <div class="col-md-8">
          <section class='tabs-content'>
            <div id='tab1' class="tab">
              <img src="assets/images/single_service_04.jpeg" alt="">
              <h4>Trial Balance</h4>
              <p>Our comprehensive accounting software, offers a versatile and efficient solution for managing your
                financial operations. Within this powerful software, we have a dedicated module called Trial Balance.
                This module allows you to effortlessly generate and maintain accurate trial balances, a fundamental tool
                in the accounting process.
                <br><br>With EFinance's Trial Balance module, you can easily track and reconcile your company's
                financial transactions, ensuring precision and reliability in your financial reporting. Simplify your
                accounting tasks and gain valuable insights with EFinance's Trial Balance module.
              </p>
              <br><br>
              <a (click)="showtrialbalance()" class="filled-button">View Trial
                Balanace</a>
            </div>
            <div id='tab2' class="tab">
              <img src="assets/images/single_service_08.jpeg" alt="">
              <h4>Income Statement</h4>
              <p>With EFinance, you can effortlessly generate accurate and detailed income statements, allowing you to
                gain valuable insights into your company's financial performance. Our user-friendly interface and
                intuitive features make it easy to input and categorize revenue and expenses, calculate net income, and
                track profitability.
                <br><br>With EFinance's Income Statement module, you can effectively monitor your business's financial
                health and make informed decisions to drive growth and success.
              </p>
              <br><br>
              <a (click)="showincomestatement()" class="filled-button">View Income
                Statement</a>
            </div>
            <div id='tab3' class="tab">
              <img src="assets/images/single_service_06.jpeg" alt="">
              <h4>Profit & Loss </h4>
              <p>With our Profit & Loss Account module, you can easily track and analyze your company's financial
                performance. Gain valuable insights into revenue, expenses, and overall profitability, allowing you to
                make informed business decisions.
                <br><br>EFinance offers user-friendly interfaces, customizable reports, and efficient data entry,
                ensuring accuracy and efficiency in your financial operations. Simplify your accounting processes and
                maximize your business's financial success with EFinance's Profit & Loss Account module.
              </p>
              <a (click)="showprofitandloss()" class="filled-button">View Profit &
                Loss</a>
            </div>
            <div id='tab4' class="tab">
              <img src="assets/images/single_service_07.jpeg" alt="">
              <h4>Balance Sheet</h4>
              <p>Our Balance Sheet module is an integral part of this software, enabling businesses to accurately track
                their assets, liabilities, and equity at any given time. With intuitive features and robust reporting
                capabilities, EFinance empowers organizations to generate detailed and accurate balance sheets
                effortlessly.
                <br><br>Seamlessly integrating with other modules, our software ensures streamlined financial
                management, providing businesses with the insights they need to make informed decisions and drive
                growth.
              </p>
              <br><br>
              <a (click)="showbalancesheet()" class="filled-button">View Balance
                Sheet</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Call Back ***** -->
  <div class="callback-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Request a <em>call back</em></h2>
            <span>FEEL FREE TO CONTACT US!
            </span>
            <br>
            <a (click)="showcontact()" class="filled-button">Contact US</a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
  </div>

  <!-- App Route Footer -->
  <app-footer></app-footer>

</body>

</html>
