<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.css">
  <link rel="stylesheet" href="services.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Page Content -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #a4c639;">OUR SERVICES</h1>
          <span>We are over 20 years of experience</span>
        </div>
      </div>
    </div>
  </div>

  <!-- services -->
  <div class="single-services">
    <div class="container">
      <div class="row" id="tabs">
        <div class="col-md-4">
          <ul>
            <li><a (click)="showDiv(1)" style="color:white;">Bank Account <i class="fa fa-angle-right"></i></a></li>
            <li><a (click)="showDiv(2)" style="color:white;">Transaction <i class="fa fa-angle-right"></i></a></li>
            <li><a (click)="showDiv(3)" style="color:white;">Journal Account <i class="fa fa-angle-right"></i></a></li>
            <li><a (click)="showDiv(4)" style="color:white;">Chart of Account <i class="fa fa-angle-right"></i></a></li>
            <li><a (click)="showDiv(5)" style="color:white;">Trial Balance <i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
        <div class="col-md-8">
          <section class='tabs-content'>
            <div id='tab1' class="tab">
              <img src="../../../../../assets/images/single_service_01.jpg" alt="">
              <h4>Bank Account</h4>
              <p>EFinance is a comprehensive finance software that includes a banking module to cater to the banking
                needs of its users. With EFinance, users can manage their bank accounts, make transactions, and track
                their finances all in one place. Our banking services are designed to provide users with a seamless and
                hassle-free banking experience.
                <br>With features like online banking, mobile banking, and real-time updates, users can access their
                account information anytime, anywhere. Our software also ensures the security of all banking
                transactions, providing users with peace of mind. With EFinance, banking has never been easier.
              </p>
              <br><br>
              <a (click)="showbankaccount()" class="filled-button">View Banks</a>
            </div>
            <div id='tab2' class="tab">
              <img src="../../../../../assets/images/single_service_02.jpg" alt="">
              <h4>Transaction</h4>
              <p>EFinance's Transactions module provides a streamlined and efficient way to manage financial
                transactions for businesses of all sizes. With our software, users can easily record, track, and
                reconcile financial transactions, including payments, deposits, and transfers. Our system also allows
                for customizable reports, providing valuable insights into cash flow, account balances, and more.
                <br>Additionally, our secure platform ensures that all financial information is protected and backed
                up for peace of mind. Whether you need to manage transactions for a small business or a large
                corporation, EFinance's Transactions module has you covered.
              </p>
              <br><br>
              <a (click)="showtransaction()" class="filled-button">View Transactions</a>
            </div>
            <div id='tab3' class="tab">
              <img src="../../../../../assets/images/single_service_03.jpg" alt="">
              <h4>Journal Account</h4>
              <p>EFinance's Journal Account module is a powerful tool designed to help businesses easily manage their
                financial transactions. With its intuitive interface and user-friendly features, users can easily
                create, record, and manage journal entries, as well as track account balances and generate reports.
                <br>The module supports multiple currencies and provides a high level of customization, allowing
                users to tailor it to their specific needs. EFinance's Journal Account module ensures accurate and
                timely financial reporting, streamlining the accounting process and improving overall business
                efficiency.
              </p>
              <br><br>
              <a (click)="showjournal()" class="filled-button">View Journal</a>
            </div>
            <div id='tab4' class="tab">
              <img src="../../../../../assets/images/single_service_04.jpg" alt="">
              <h4>Chart of Account</h4>
              <p>EFinance's Chart of Account module provides a comprehensive solution for businesses to manage their
                financial transactions with ease. With our software, you can create, customize, and manage your chart of
                accounts according to your specific needs. Our module allows you to easily categorize and track your
                income, expenses, assets, and liabilities, giving you a clear view of your financial position at any
                given time.
                <br>With detailed reports and customizable views, you can easily monitor and analyze your financial
                data, helping you make informed decisions to drive your business forward.
              </p>
              <br><br>
              <a (click)="showchartofaccount()" class="filled-button">View Chart of Account</a>
            </div>
            <div id='tab5' class="tab">
              <img src="../../../../../assets/images/single_service_05.jpg" alt="">
              <h4>Trial Balance</h4>
              <p>EFinance's Trial Balance module is designed to simplify and streamline the process of creating and
                managing accurate financial statements. Our software provides a comprehensive view of all account
                balances, allowing you to easily identify any discrepancies and make necessary adjustments. With
                customizable reporting options, you can quickly generate trial balance reports in a format that meets
                your specific needs.
                <br>Our module also allows for easy integration with other financial software, ensuring seamless
                collaboration and increased efficiency. Trust EFinance to help you maintain a clear and accurate picture
                of your organization's financial health.
              </p>
              <br><br>
              <a (click)="showtrialbalance()" class="filled-button">View Trial Balnace</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Call Back ***** -->
  <div class="callback-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Request a <em>call back</em></h2>
            <span>FEEL FREE TO CONTACT US!
            </span>
            <br>
            <a (click)="showcontact()" class="filled-button">Contact US</a>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>
  </div>

</body>

</html>
