<div class="row">
  <div class="col-md-12">
    <div class="card-primary card">
      <div class="card-header">
        <div class="align-items-center row">
          <div class="col">
            <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
              class="card-title">Filter
            </a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4" *ngIf="customer==true">
            <app-customer></app-customer>
          </div>
          <div class="col-md-4" *ngIf="bankaccount==true">
            <app-bankaccount></app-bankaccount>
          </div>
          <div class="col-md-4" *ngIf="account==true">
            <app-account></app-account>
          </div>
          <div class="col-md-4" *ngIf="bankaccounttype==true">
            <app-bankaccounttype></app-bankaccounttype>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngIf="transaction==true">
            <app-transaction></app-transaction>
          </div>
          <div class="col-md-4" *ngIf="transactiontype==true">
            <app-transactiontype></app-transactiontype>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngIf="journal==true">
            <app-journal></app-journal>
          </div>
          <div class="col-md-4" *ngIf="ledger==true">
            <app-ledger></app-ledger>
          </div>
          <div class="col-md-4" *ngIf="trialbalance==true">
            <app-trialbalance></app-trialbalance>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngIf="chartofaccount==true">
            <app-chartofaccount></app-chartofaccount>
          </div>
          <div class="col-md-4" *ngIf="ledgeraccounttype==true">
            <app-ledgeraccounttype></app-ledgeraccounttype>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-right">
              <button id="savebutton" class="btn btn-success ml-2" (click)="accountsearchfilter()">
                Search
              </button>
              <button type="button" class="btn btn-light ml-2" (click)="reset()">
                Reset
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
