<div class="form-group">
  <label class="custom-label form-label">Return Status
      <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row">
      <div class="col-md-10" *ngIf="disabled==true">
          <ng-select [(ngModel)]="returnstatusID" [disabled]="disabled" name="returnstatusID" maxlength="50">
              <ng-option *ngFor="let returnstatus of returnstatussAll" [value]="returnstatus.id" [disabled]="disabled">
                  {{ returnstatus.code }} - {{ returnstatus.description }}
              </ng-option>
          </ng-select>
      </div>
      <div class="col-md-10" *ngIf="disabled==false">
          <ng-select [(ngModel)]="returnstatusID" [disabled]="disabled" name="returnstatusID" maxlength="50">
              <ng-option *ngFor="let returnstatus of returnstatuss" [value]="returnstatus.id" [disabled]="disabled">
                  {{ returnstatus.code }} - {{ returnstatus.description }}
              </ng-option>
          </ng-select>
      </div>
      <div class="col-md-2">
          <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="returnstatusGet()">
              <i class="fa fa-refresh" aria-hidden="true"></i>
          </button>
      </div>
  </div>
</div>
