<div *ngIf="view==1" class="form-group">
    <label class="custom-label form-label">Payment
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10">
            <ng-select [(ngModel)]="paymentID" [disabled]="disabled" name="paymentID">
                <ng-option *ngFor="let payment of payments" [value]="payment.payment_ID" [disabled]="disabled">
                    {{ payment.payment_NUMBER }}

                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="paymentGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==2" class="form-group">
    <div class="row">
        <div class="col-lg-12">
            <div class="outer-div">
                <div class="grid-wrapper">
                    <dx-data-grid #grid id="gridContainer" [dataSource]="paymentsAll" keyExpr="payment_ID"
                        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
                        [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnMinWidth]="30"
                        [columnAutoWidth]="true" [remoteOperations]="true" height="600" width="100%"
                        (onToolbarPreparing)="onToolbarPreparing($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
                            cellTemplate="cellTemplate"> </dxi-column>
                        <dxi-column [width]="200" dataField="studentinstance.student_RN" caption="Student RN"
                            cssClass="myClass" alignment="center"></dxi-column>
                        <dxi-column dataField="person_DETAIL" caption="Student Name" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="payment_NUMBER" caption="Invoice Number" cssClass="myClass"
                            alignment="center">
                        </dxi-column>
                        <dxi-column dataField="payment_DATE" caption="Invoice Date" cssClass="myClass"
                            alignment="center">
                        </dxi-column>
                        <dxi-column dataField="payment_AMOUNT" caption="Payment Amount" cssClass="myClass"
                            alignment="center">
                        </dxi-column>
                        <dxi-column dataField="paymentstatus.description" caption="Payment Status" cssClass="myClass"
                            alignment="center">
                        </dxi-column>
                        <dxi-column dataField="account_DETAIL" caption="Account" cssClass="myClass" alignment="left">
                        </dxi-column>
                        <dxi-column dataField="paymentmethod.description" caption="Payment Method" cssClass="myClass"
                            alignment="center">
                        </dxi-column>
                        <dxi-column [width]="160" dataField="intake.intake_DESC" caption="Intake" cssClass="myClass"
                            alignment="center"></dxi-column>
                        <dxi-column dataField="course.course_TITLE" caption="Program" cssClass="myClass"></dxi-column>
                        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
                            alignment="center"></dxi-column>

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:void" class="" (click)="update(data)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                        <!--
                      <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
                      <div *dxTemplate="let invoicedetail of 'detail'">
                          <div class="master-detail-caption">{{
                              "Invoice Detail:"
                              }}</div>
                          <app-paymentdetail [view]="2" [paymentID]="invoicedetail.key">
                          </app-paymentdetail>
                      </div>
-->
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="view==22" class="form-group">
    <div class="outer-div">
        <div class="grid-wrapper">
            <dx-data-grid #grid id="gridContainer" [dataSource]="paymentsAll" keyExpr="payment_ID"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
                height="600" width="100%" (onToolbarPreparing)="onToolbarPreparingAdvanced($event)">
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
                    cellTemplate="cellTemplate"> </dxi-column>
                <dxi-column [width]="200" dataField="studentinstance.student_RN" caption="Student RN" cssClass="myClass"
                    alignment="center"></dxi-column>
                <dxi-column dataField="person_DETAIL" caption="Student Name" cssClass="myClass" alignment="left">
                </dxi-column>
                <dxi-column dataField="payment_NUMBER" caption="Invoice Number" cssClass="myClass" alignment="center">
                </dxi-column>
                <dxi-column dataField="payment_DATE" caption="Invoice Date" cssClass="myClass" alignment="center">
                </dxi-column>
                <dxi-column dataField="payment_AMOUNT" caption="Payment Amount" cssClass="myClass" alignment="center">
                </dxi-column>
                <dxi-column dataField="paymentstatus.description" caption="Payment Status" cssClass="myClass"
                    alignment="center">
                </dxi-column>
                <dxi-column dataField="account_DETAIL" caption="Account" cssClass="myClass" alignment="left">
                </dxi-column>
                <dxi-column dataField="paymentmethod.description" caption="Payment Method" cssClass="myClass"
                    alignment="center">
                </dxi-column>
                <dxi-column [width]="160" dataField="intake.intake_DESC" caption="Intake" cssClass="myClass"
                    alignment="center"></dxi-column>
                <dxi-column dataField="course.course_TITLE" caption="Program" cssClass="myClass"></dxi-column>
                <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass" alignment="center">
                </dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void" class="" (click)="update(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
                <!--
                      <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
                      <div *dxTemplate="let invoicedetail of 'detail'">
                          <div class="master-detail-caption">{{
                              "Invoice Detail:"
                              }}</div>
                          <app-paymentdetail [view]="2" [paymentID]="invoicedetail.key">
                          </app-paymentdetail>
                      </div>
-->
            </dx-data-grid>
        </div>
    </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && paymentAdd(payment)" #f="ngForm" novalidate>
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add New Payment
                  </h5>
                  <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true"> ×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6">
                          <app-studentinstance #addstudentinstance [view]="1"></app-studentinstance>
                      </div>
                      <div class="col-md-6">
                          <app-account #addaccount [view]="1"></app-account>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label">Payment Number <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="payment_NUMBER"
                                  [(ngModel)]="payment.payment_NUMBER" maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label">Payment Date <span style="color:red">*</span></label>
                              <input type="date" class="form-control" name="payment_DATE"
                                  [(ngModel)]="payment.payment_DATE" maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Payment Amount <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="payment_AMOUNT" [(ngModel)]="payment.payment_AMOUNT"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <app-paymentmethod #addpaymentmethod></app-paymentmethod>
                      </div>
                      <div class="col-md-6">
                          <app-paymentstatus #addpaymentstatus></app-paymentstatus>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add
                  </button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && paymentUpdate(payment)" #f="ngForm" novalidate>
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Payment
                  </h5>
                  <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true"> ×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6">
                          <app-studentinstance #editstudentinstance [view]="1"></app-studentinstance>
                      </div>
                      <div class="col-md-6">
                          <app-account #editaccount [view]="1"></app-account>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label">Payment Number <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="payment_NUMBER"
                                  [(ngModel)]="payment.payment_NUMBER" maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label">Payment Date <span style="color:red">*</span></label>
                              <input type="date" class="form-control" name="payment_DATE"
                                  [(ngModel)]="payment.payment_DATE" maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Payment Amount <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="payment_AMOUNT" [(ngModel)]="payment.payment_AMOUNT"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <app-paymentmethod #editpaymentmethod [paymentmethodID]="payment.paymentmethod_ID"></app-paymentmethod>
                      </div>
                      <div class="col-md-6">
                          <app-paymentstatus #editpaymentstatus [paymentstatusID]="payment.paymentstatus_ID"></app-paymentstatus>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <div class="checkbox">
                                  <label class="control-label">
                                      <input type="checkbox" [checked]="payment.isactive"
                                          [(ngModel)]="payment.isactive" name="isactive">
                                      Active
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                      <i class="fa fa-plus" aria-hidden="true"></i> Update
                  </button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
  </form>
</div>

<div *ngIf="view==5" class="form-group">
  <div class="card-primary card">
      <div class="card-header">
          <div class="align-items-center row">
              <div class="col" *ngIf="payment.payment_ID==0">
                  <a href="javascript:void" aria-controls="collapse-paymentinfo1" aria-expanded="true"
                      class="card-title">Add New Payment
                  </a>
              </div>
              <div class="col" *ngIf="payment.payment_ID!=0 && disabled==false">
                  <a href="javascript:void" aria-controls="collapse-paymentinfo1" aria-expanded="true"
                      class="card-title">Edit Payment
                  </a>
              </div>
              <div class="col" *ngIf="payment.payment_ID!=0 && disabled==true">
                  <a href="javascript:void" aria-controls="collapse-paymentinfo1" aria-expanded="true"
                      class="card-title">Payment Detail
                  </a>
              </div>
          </div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-lg-12">
                  <div class="row">
                      <div class="col-md-6">
                          <app-account #account [view]="1" [iscompulsory]=true [disabled]="disabled" [accountID]="payment.account_ID"></app-account>
                      </div>
                      <div class="col-md-6">
                          <app-studentinstance #studentinstance [view]="1" [studentinstanceID]="payment.studentinstance_ID" [iscompulsory]=true [disabled]="disabled"></app-studentinstance>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Payment Number <span style="color:red" [hidden]="disabled">*</span></label>
                              <input type="text" class="form-control" name="payment_NUMBER" [disabled]="disabled" [(ngModel)]="payment.payment_NUMBER" maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Payment Date <span style="color:red" [hidden]="disabled">*</span></label>
                              <input type="text" class="form-control" name="payment_DATE" [disabled]="disabled" [(ngModel)]="payment.payment_DATE" maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Payment Amount <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="payment_AMOUNT" [disabled]="disabled" [(ngModel)]="payment.payment_AMOUNT" maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <app-paymentmethod #paymentmethod [iscompulsory]=true [disabled]="disabled" [paymentmethodID]="payment.paymentmethod_ID"></app-paymentmethod>
                      </div>
                      <div class="col-md-6">
                          <app-paymentstatus #paymentstatus [paymentstatusID]="payment.paymentstatus_ID" [iscompulsory]=true [disabled]="disabled"></app-paymentstatus>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12" *ngIf="payment.payment_ID!=0">
                          <div class="form-group">
                              <div class="checkbox">
                                  <label class="control-label">
                                      <input type="checkbox" [checked]="payment.isactive"
                                          [(ngModel)]="payment.isactive" [disabled]="disabled" name="isactive">
                                      Active
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <button *ngIf="payment.payment_ID!=0 && disabled==true" (click)="editView()" id="cancel"
                              class="btn btn-primary" style="float: right;"> Edit
                          </button>
                          <button *ngIf="disabled==false" type="button" (click)='paymentCancel()'
                              style="float: right;" class="btn btn-light" data-dismiss="modal"> Cancel
                          </button>
                          <button *ngIf="payment.payment_ID!=0 && disabled==false" type="button" data-dismiss="modal"
                              style=" margin-right: 10px; float: right;" (click)='paymentUpdate(payment)'
                              class="btn btn-primary">
                              Update
                          </button>
                          <button *ngIf="payment.payment_ID==0" type="button" data-dismiss="modal"
                              style=" margin-right: 10px; float: right;" (click)='paymentAdd(payment)'
                              class="btn btn-primary">
                              Save
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="view==6" class="form-group">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label form-label">Payment Date
                    <span style="color: red;">*</span>
                </label>
                <input type="date" [(ngModel)]="payment.payment_DATE" class="form-control" name="payment_DATE"
                    maxlength="50">
            </div>
        </div>
        <div class="col-md-4">
            <app-paymentmethod #paymentmethod [iscompulsory]=true></app-paymentmethod>
        </div>
        <div class="col-md-4">
            <app-account #account [iscompulsory]=true></app-account>
        </div>
    </div>
<!--
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label form-label">Payment Amount
                    <span style="color: red;">*</span>
                </label>
                <input type="text" [(ngModel)]="payment.payment_AMOUNT" class="form-control"
                    name="payment_AMOUNT" maxlength="50">
            </div>
        </div>
        <div class="col-md-8">
        </div>
    </div>
-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group text-right">
                <button id="savebutton" class="btn btn-primary ml-2" (click)="paymentRecieved(payment)">
                    Payment
                </button>
            </div>
        </div>
    </div>
</div>
