<div class="collapse-card-h container">
  <app-accountsearchfilter
  [account]=false
  [accounttype]=false
  [returnauth]=true
  [customerrefund]=false
  [cardtype]=false
  [currencysymbolreplacement]=false
  [refundmethod]=false
  [saleordertype]=false
  [postingperiod]=false
  [returnstatus]=false
  [cashflowratetype]=false
  [generalratetype]=false
  (advancedSearch)="advancedSearch($event)"
  (advancedSearchAll)="advancedSearchAll($event)"
  ></app-accountsearchfilter>
  <div class="row">
      <div class="col-md-12">
          <div class="card-primary card">
              <div class="card-header">
                  <div class="align-items-center row">
                      <div class="col">
                          <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                              class="card-title">Recieve Return Auth
                          </a>
                      </div>
                      <div class="col-auto">
                          <button (click)="addNew()" class="btn btn-secondary btn-sm">
                              <i class="fas fa-plus fa-fw"></i> Add New
                          </button>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-lg-12">
                          <app-recievereturnauth #recievereturnauths [view]=2 (edit)="edit($event)"></app-recievereturnauth>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="add" role="dialog" tabindex="-1">
  <app-recievereturnauth #addrecievereturnauth [view]=3 (cancel)="cancel()"></app-recievereturnauth>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="edit" role="dialog" tabindex="-1">
  <app-recievereturnauth #editrecievereturnauth [view]=4 (cancel)="cancel()"></app-recievereturnauth>
</div>
