<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">Ledger Account Opening Balance
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="ledgeraccountopeningbalanceID" [disabled]="disabled" name="ledgeraccountopeningbalanceID"
        (change)="onChange($event)">
        <ng-option *ngFor="let ledgeraccountopeningbalance of ledgeraccountopeningbalancesAll"
          [value]="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID">
          {{ ledgeraccountopeningbalance.balance_CODE }} - {{ ledgeraccountopeningbalance.balance_DATE }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="ledgeraccountopeningbalanceID" name="ledgeraccountopeningbalanceID"
        (change)="onChange($event)">
        <ng-option *ngFor="let ledgeraccountopeningbalance of ledgeraccountopeningbalances"
          [value]="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID" [disabled]="disabled">
          {{ ledgeraccountopeningbalance.balance_CODE }} - {{ ledgeraccountopeningbalance.balance_DATE }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==10" class="form-group">
  <label class="custom-label form-label">Ledger Account Opening Balance
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="ledgeraccountopeningbalanceID" [disabled]="disabled" name="ledgeraccountopeningbalanceID"
        (change)="onChange($event)">
        <ng-option *ngFor="let ledgeraccountopeningbalance of ledgeraccountopeningbalancesAll"
          [value]="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID">
          {{ ledgeraccountopeningbalance.balance_CODE }} - {{ ledgeraccountopeningbalance.balance_DATE }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="ledgeraccountopeningbalanceID" name="ledgeraccountopeningbalanceID"
        (change)="onChange($event)">
        <ng-option *ngFor="let ledgeraccountopeningbalance of ledgeraccountopeningbalancesAll"
          [value]="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID" [disabled]="disabled">
          {{ ledgeraccountopeningbalance.balance_CODE }} - {{ ledgeraccountopeningbalance.balance_DATE }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==11" class="form-group">
  <label class="custom-label form-label">Ledger Account Opening Balance
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="ledgeraccountopeningbalanceID" [disabled]="disabled" name="ledgeraccountopeningbalanceID">
        <ng-option *ngFor="let ledgeraccountopeningbalance of ledgeraccountopeningbalancesAll"
          [value]="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID" [disabled]="disabled">
          {{ ledgeraccountopeningbalance.balance_CODE }} - {{ ledgeraccountopeningbalance.balance_DATE }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="ledgeraccountopeningbalanceID" [disabled]="disabled" name="ledgeraccountopeningbalanceID"
        (change)="onChange($event)">
        <ng-option *ngFor="let ledgeraccountopeningbalance of ledgeraccountopeningbalances"
          [value]="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID" [disabled]="disabled">
          {{ ledgeraccountopeningbalance.balance_CODE }} - {{ ledgeraccountopeningbalance.balance_DATE }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==19" class="form-group">
  <label class="custom-label form-label">Ledger Account Opening Balance
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row" *ngIf="disabled==true">
    <div class="col-md-12">
      <ng-select [(ngModel)]="ledgeraccountopeningbalanceID" [disabled]="disabled" name="ledgeraccountopeningbalanceID"
        (change)="onChange($event)">
        <ng-option *ngFor="let ledgeraccountopeningbalance of ledgeraccountopeningbalancesAll"
          [value]="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID" [disabled]="disabled">
          {{ ledgeraccountopeningbalance.balance_CODE }} - {{ ledgeraccountopeningbalance.balance_DATE }}
        </ng-option>
      </ng-select>
    </div>
  </div>
  <div class="row" *ngIf="disabled==false">
    <div class="col-md-10">
      <ng-select [(ngModel)]="ledgeraccountopeningbalanceID" [disabled]="disabled" name="ledgeraccountopeningbalanceID"
        (change)="onChange($event)">
        <ng-option *ngFor="let ledgeraccountopeningbalance of ledgeraccountopeningbalancesAll"
          [value]="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID" [disabled]="disabled">
          {{ ledgeraccountopeningbalance.balance_CODE }} - {{ ledgeraccountopeningbalance.balance_DATE }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="load(true)">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="ledgeraccountopeningbalancesAll"
        keyExpr="ledgeraccountopeningbalance_ID" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
        [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true"
        [remoteOperations]="true" height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>

        <dxi-column dataField="balance_CODE" caption="Code" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="balance_DATE" caption="Date" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="ledgeraccount.ledgeraccount_NAME" caption="Name" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="balance_CREDIT" caption="Credit" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="balance_DEBIT" caption="Debit" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
          alignment="center"></dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==22" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="ledgeraccountopeningbalances"
        keyExpr="ledgeraccountopeningbalance_ID" [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
        [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true"
        [remoteOperations]="true" height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>
        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
          cellTemplate="cellTemplate"></dxi-column>

        <dxi-column dataField="balance_CODE" caption="Code" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="balance_DATE" caption="Date" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="ledgeraccount.ledgeraccount_NAME" caption="Name" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="balance_CREDIT" caption="Credit" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="balance_DEBIT" caption="Debit" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
          alignment="center"></dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="showView(data)">
            <i class="fa fa-eye" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && ledgeraccountopeningbalanceAdd(ledgeraccountopeningbalance)"
    #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New Ledger Account Opening Balance
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <app-ledgeraccount #ledgeraccount [view]="1"
                  [ledgeraccountID]="ledgeraccountopeningbalance.ledgeraccount_ID"></app-ledgeraccount>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Code <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_CODE"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_CODE" maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date <span style="color:red">*</span></label>
                <input type="date" class="form-control" name="balance_DATE"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_DATE" maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Credit <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_CREDIT"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_CREDIT" maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Debit <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_DEBIT"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_DEBIT" maxlength="50" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form"
    (ngSubmit)="f.form.valid && ledgeraccountopeningbalanceUpdate(ledgeraccountopeningbalance)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit ledgeraccountopeningbalance
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <app-ledgeraccount #ledgeraccount [view]="1"
                  [ledgeraccountID]="ledgeraccountopeningbalance.ledgeraccount_ID"></app-ledgeraccount>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Code <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_CODE"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_CODE" maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date <span style="color:red">*</span></label>
                <input type="date" class="form-control" name="balance_DATE"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_DATE" maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Credit <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_CREDIT"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_CREDIT" maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Debit <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_DEBIT"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_DEBIT" maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="ledgeraccountopeningbalance.isactive"
                      [(ngModel)]="ledgeraccountopeningbalance.isactive" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==5" class="form-group">
  <div class="card-primary card">
    <div class="card-header">
      <div class="align-items-center row">
        <div class="col" *ngIf="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID==0">
          <a href="javascript:void" aria-controls="collapse-ledgeraccountopeningbalanceinfo1" aria-expanded="true"
            class="card-title">Add New Ledger Account Opening Balance
          </a>
        </div>
        <div class="col" *ngIf="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID!=0 && disabled==false">
          <a href="javascript:void" aria-controls="collapse-ledgeraccountopeningbalanceinfo1" aria-expanded="true"
            class="card-title">Edit Ledger Account Opening Balance
          </a>
        </div>
        <div class="col" *ngIf="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID!=0 && disabled==true">
          <a href="javascript:void" aria-controls="collapse-ledgeraccountopeningbalanceinfo1" aria-expanded="true"
            class="card-title">Ledger Account Opening Balance Detail
          </a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <app-ledgeraccount #ledgeraccount [view]="1" [disabled]="disabled"
                  [ledgeraccountID]="ledgeraccountopeningbalance.ledgeraccount_ID"></app-ledgeraccount>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Code <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_CODE" [disabled]="disabled"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_CODE" maxlength="50" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date <span style="color:red">*</span></label>
                <input type="date" class="form-control" name="balance_DATE" [disabled]="disabled"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_DATE" maxlength="50" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Credit <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_CREDIT" [disabled]="balancetypedisabled"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_CREDIT" maxlength="50" required
                  (change)="onCreditChange()">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label"> Debit <span style="color:red">*</span></label>
                <input type="text" class="form-control" name="balance_DEBIT" [disabled]="balancetypedisabled"
                  [(ngModel)]="ledgeraccountopeningbalance.balance_DEBIT" maxlength="50" required
                  (change)="onDebitChange()">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngIf="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID!=0">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="ledgeraccountopeningbalance.isactive"
                      [(ngModel)]="ledgeraccountopeningbalance.isactive" [disabled]="disabled" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button *ngIf="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID!=0 && disabled==true"
                (click)="editView()" id="cancel" class="btn btn-primary" style="float: right;"> Edit
              </button>
              <button *ngIf="disabled==false" type="button" (click)='ledgeraccountopeningbalanceCancel()'
                style="float: right;" class="btn btn-light" data-dismiss="modal"> Cancel
              </button>
              <button *ngIf="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID!=0 && disabled==false"
                type="button" data-dismiss="modal" style=" margin-right: 10px; float: right;"
                (click)='ledgeraccountopeningbalanceUpdate(ledgeraccountopeningbalance)' class="btn btn-primary">
                Update
              </button>
              <button *ngIf="ledgeraccountopeningbalance.ledgeraccountopeningbalance_ID==0" type="button"
                data-dismiss="modal" style=" margin-right: 10px; float: right;"
                (click)='ledgeraccountopeningbalanceAdd(ledgeraccountopeningbalance)' class="btn btn-primary"> Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
