<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.css">
  <link rel="stylesheet" href="about.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  <!-- Page Content -->
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 style="color: #a4c639;">ABOUT US</h1>
          <span>Transforming the Way You Manage Your Finances!</span>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Project Idea ***** -->
  <div class="more-info about-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>From a need to simplify finances, EFinance was born</span>
                  <h2>How you came up <em>with the idea</em></h2>
                  <p>EFinance was born out of the need to simplify financial management for individuals and businesses.
                    Our team recognized that many people struggle with managing their finances, especially in the
                    increasingly complex financial landscape we live in. We saw an opportunity to create a software that
                    would make it easy for people to track their expenses, create budgets, and make informed financial
                    decisions. We conducted extensive research, spoke with financial experts, and analyzed user feedback
                    to develop EFinance.
                    <br><br>Our goal is to empower individuals and businesses to take control of their finances and
                    achieve their financial goals. We are proud to offer a comprehensive financial management solution
                    that is accessible, user-friendly, and affordable.
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/about-image2.jpeg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Project Work ***** -->
  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>Transforming the way you handle finances</span>
            <h2>Our solutions for your <em>business growth</em></h2>
            <p>EFinance is a powerful finance software solution designed to help businesses manage their financial
              operations more efficiently.
              <br><br>With features such as automated bookkeeping, real-time financial reporting, and customizable
              dashboards, EFinance can help your business achieve greater growth and success.
            </p>
            <a href="http://fyp.cwiztech.com/efinance/#/home/services" class="filled-button">Our Services</a>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">545</div>
                <div class="count-title">Work Hours</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">27</div>
                <div class="count-title">Documentation</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">36</div>
                <div class="count-title">Database</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">36</div>
                <div class="count-title">Implementation</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">27</div>
                <div class="count-title">Testing</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">18</div>
                <div class="count-title">Deployment</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Page Description ***** -->
  <div class="more-info about-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>our solid background on finance</span>
                  <h2>Get to know about <em>our company</em></h2>
                  <p>EFinance is a comprehensive finance software solution designed to streamline and simplify financial
                    management for businesses of all sizes. Our software includes modules for accounting, invoicing,
                    charts of accounts, expense management, and more, allowing you to manage all aspects of your
                    organization's finances in one place.
                    <br><br>Our user-friendly interface and customizable reporting options make it easy for you to track
                    and analyze your financial data, providing you with insights that can help you make informed
                    business decisions. With secure data storage and real-time updates, you can trust that your
                    financial information is always up-to-date and accurate.
                    <br><br>Our team of experienced developers and support staff are dedicated to providing exceptional
                    service and support to ensure that you get the most out of our software. We pride ourselves on being
                    responsive to our customers' needs and providing personalized solutions that meet your unique
                    business requirements.
                    <br><br>Whether you are a small business owner or a large corporation, EFinance is the perfect tool
                    to help you manage your finances with ease and confidence.
                  </p>
                  <!-- <a href="http://fyp.cwiztech.com/efinance/#/home/about" class="filled-button">Read More</a> -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="left-image">
                  <img src="../../../../../assets/images/about-image.jpeg" alt="">
                  <br> <br>
                  <img src="../../../../../assets/images/about-image1.jpeg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ***** Project Members ***** -->
  <div class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our team <em>members</em></h2>
            <span>Your partners in financial success!</span>
          </div>
        </div>
        <div class="col-md-4" style="width:320px;">
          <div class="team-item">
            <img src="assets/images/team_02.jpeg" alt="" style="height:200px;">
            <div class="down-content">
              <h4>Zainab Bibi</h4>
              <span>Co-Founder</span>
              <p>As a co-founder, Zainab has been involved in every aspect of the project, from initial planning and
                development to ongoing support and enhancements</p>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="width:320px;">
          <div class="team-item">
            <img src="assets/images/team_01.jpeg" alt="" style="height:200px;">
            <div class="down-content">
              <h4>Muhammad Mehran</h4>
              <span>Chief Marketing Officer</span>
              <p>As the CMO of the EFinance, Mehran is responsible for overseeing all marketing efforts related to the
                company's finance software products and services</p>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="width:320px;">
          <div class="team-item">
            <img src="assets/images/team_03.jpeg" alt="" style="height:200px;">
            <div class="down-content">
              <h4>Shifa Shahzadi</h4>
              <span>Financial Analyst</span>
              <p>As the Financial Analyst for the EFinance, Shifa is responsible for analyzing and interpreting
                financial data to help guide decision-making within the organization</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>

  <!-- App Route Footer -->
  <app-footer></app-footer>

</body>

</html>
