body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

p {
  margin-bottom: 0;
  font-size: 14px;
  color: #666;
  line-height: 30px
}

a {
  text-decoration: none !important
}

.right-content {
  text-align: justify;
  text-justify: inter-word
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

a.filled-button {
  background-color: #a4c639;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all .3s
}

a.filled-button:hover {
  background-color: #fff;
  color: #a4c639
}

.section-heading {
  text-align: center;
  margin-bottom: 80px
}

.section-heading h2 {
  font-size: 36px;
  font-weight: 600;
  color: #1e1e1e
}

.section-heading em {
  font-style: normal;
  color: #a4c639
}

.section-heading span {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  5% {
    opacity: 1
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  5% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  background-color: transparent !important;
  height: 80px;
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s
}

.services {
  margin-top: 140px
}

.service-item img {
  width: 100%;
  overflow: hidden
}

.service-item .down-content {
  background-color: #f7f7f7;
  padding: 30px
}

.service-item .down-content h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .25px;
  margin-bottom: 15px
}

.service-item .down-content p {
  margin-bottom: 20px
}

.fun-facts {
  margin-top: 140px;
  background-image: url(src/assets/images/fun-facts-bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 140px 0;
  color: #fff
}

.fun-facts span {
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block
}

.fun-facts h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px
}

.fun-facts em {
  font-style: normal;
  color: #a4c639
}

.fun-facts p {
  color: #fff;
  margin-bottom: 40px
}

.fun-facts .left-content {
  margin-right: 45px
}

.count-area-content {
  text-align: center;
  background-color: rgba(250, 250, 250, .1);
  padding: 25px 30px 35px 30px;
  margin: 15px 0
}

.count-digit {
  margin: 5px 0;
  color: #a4c639;
  font-weight: 700;
  font-size: 36px
}

.count-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  letter-spacing: .5px
}

.more-info {
  margin-top: 140px
}

.more-info .left-image img {
  width: 100%;
  overflow: hidden
}

.more-info .more-info-content {
  background-color: #f7f7f7
}

.about-info .more-info-content {
  background-color: transparent
}

.about-info .right-content {
  padding: 0 !important;
  margin-right: 30px
}

.more-info .right-content {
  padding: 45px 45px 45px 30px
}

.more-info .right-content span {
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block
}

.more-info .right-content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px
}

.more-info .right-content em {
  font-style: normal;
  color: #a4c639
}

.more-info .right-content p {
  margin-bottom: 30px
}

.team {
  background-color: #f7f7f7;
  margin-top: 140px;
  margin-bottom: -140px;
  padding: 120px 0
}

.team-item img {
  width: 100%;
  overflow: hidden
}

.team-item .down-content {
  background-color: #fff;
  padding: 30px
}

.team-item .down-content h4 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .25px;
  margin-bottom: 10px
}

.team-item .down-content span {
  color: #a4c639;
  font-weight: 600;
  font-size: 14px;
  display: block;
  margin-bottom: 15px
}

.team-item .down-content p {
  margin-bottom: 20px
}

@media (max-width:768px) {
  .services .service-item {
    margin-bottom: 30px
  }

  .fun-facts .left-content {
    margin-right: 0;
    margin-bottom: 30px
  }

  .more-info .right-content {
    padding: 30px
  }

  .about-info .right-content {
    margin-right: 0;
    margin-bottom: 30px
  }

  .team .team-item {
    margin-bottom: 30px
  }
}

* {
  box-sizing: border-box
}

body {
  font-family: Verdana, sans-serif
}

img {
  vertical-align: middle
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.page-heading {
  text-align: center;
  background-image: url(src/assets/images/page-heading-bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 150px 0;
  color: #fff
}

.page-heading h1 {
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 18px
}

.page-heading span {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  display: block
}

@media only screen and (max-width:300px) {
  .text {
    font-size: 11px
  }
}
