<div class="collapse-card-h container">
  <app-accountsearchfilter [account]=true [accounttype]=false [accountclassification]=false [bankaccount]=false
  [bankaccounttype]=false [transaction]=true [transactiontype]=false [transactiondatefrom]=true
  [transactiondateto]=true [banktransfer]=false [bankdeposit]=false [journal]=false [ledger]=false
  [chartofaccount]=false [trialbalance]=false [incomestatement]=false [profitandloss]=false [balancesheet]=false
  [paymentmethod]=false [customer]=false [currency]=false
  (advancedSearch)="advancedSearch($event)"></app-accountsearchfilter>

  <div class="row">
    <div class="col-md-12">
      <div class="card-primary card">
        <div class="card-header">
          <div class="align-items-center row">
            <div class="col">
              <a href="javascript:void" aria-controls="collapse-customerinfo1" aria-expanded="true"
                class="card-title">Bank Transfer
              </a>
            </div>
            <div class="col-auto">
              <button (click)="addNew()" class="btn btn-secondary btn-sm">
                <i class="fas fa-plus fa-fw"></i> Add New
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <app-banktransfer #banktransfers [view]=22 (show)="show($event)"></app-banktransfer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="add" role="dialog" tabindex="-1">
  <app-banktransfer #addbanktransfer [view]=3 (refresh)="refresh()" (cancel)="cancel()"></app-banktransfer>
</div>

<div aria-labelledby="exampleModalLabel" class="modal fade show" id="edit" role="dialog" tabindex="-1">
  <app-banktransfer #editbanktransfer [view]=4 (refresh)="refresh()" (cancel)="cancel()"></app-banktransfer>
</div>
