<div *ngIf="view==1" class="form-group">
    <label class="custom-label form-label"> Customer Refund
        <span style="color: red;" [hidden]="disabled" ngIf="iscompulsory==true"></span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="customerrefundID" [disabled]="disabled" name="customerrefundID">
                <ng-option *ngFor="let customerrefund of customerrefundsAll" [value]="customerrefund.customerrefund_ID">
                    {{ customerrefund.customerrefund_CODE }} -{{ customerrefund.customerrefund_DATE }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="customerrefundID" [disabled]="disabled" name="customerrefundID">
                <ng-option *ngFor="let customerrefund of customerrefunds" [value]="customerrefund.customerrefund_ID">
                  {{ customerrefund.customerrefund_CODE }} -{{ customerrefund.customerrefund_DATE }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="customerrefundGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==11" class="form-group">
    <label class="custom-label form-label"> Customer Refund
        <span style="color: red;" [hidden]="disabled" ngIf="iscompulsory==true"></span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="customerrefundID" [disabled]="disabled" name="customerrefundID">
                <ng-option *ngFor="let customerrefund of customerrefundsAll" [value]="customerrefund.customerrefund_ID">
                  {{ customerrefund.customerrefund_CODE }} -{{ customerrefund.customerrefund_DATE }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="customerrefundID" [disabled]="disabled" name="customerrefundID">
                <ng-option *ngFor="let customerrefund of customerrefunds" [value]="customerrefund.customerrefund_ID">
                  {{ customerrefund.customerrefund_CODE }} -{{ customerrefund.customerrefund_DATE }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled"
                (click)="customerrefundAdvancedSearch(currencyID, accountID, customerID)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="view==2" class="form-group">
    <div class="row">
        <div class="col-lg-12">
            <div class="outer-div">
                <div class="grid-wrapper">
                    <dx-data-grid #grid id="gridContainer" [dataSource]="customerrefundsAll" keyExpr="customerrefund_ID"
                        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true"
                        [rowAlternationEnabled]="true" [allowColumnResizing]="true" [columnMinWidth]="30"
                        [columnAutoWidth]="true" [remoteOperations]="true" height="600" width="100%"
                        (onToolbarPreparing)="onToolbarPreparing($event)">
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-search-panel [visible]="true"></dxo-search-panel>
                        <dxo-group-panel [visible]="false"></dxo-group-panel>
                        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <dxo-sorting mode="multiple"></dxo-sorting>
                        <dxo-selection mode="single"></dxo-selection>
                        <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
                            cellTemplate="cellTemplate"></dxi-column>

                        <dxi-column dataField="customer.customer_NAME" caption="Customer" cssClass="myClass"
                            alignment="left" ></dxi-column>
                        <dxi-column dataField="account.account_CODE" caption="Account" cssClass="myClass" alignment="left"
                            ></dxi-column>
                        <dxi-column dataField="currency.exchange_RATE" caption="Currency" cssClass="myClass"
                            alignment="left" ></dxi-column>
                        <dxi-column [width]="200" dataField="postingperiod_ID.description" caption="Posting Period"
                            cssClass="myClass" alignment="center" ></dxi-column>
                        <dxi-column [width]="200" dataField="refundmethod_ID.description" caption="Refund Method"
                            cssClass="myClass" alignment="center" ></dxi-column>

                        <dxi-column dataField="customerrefund_CODE" caption="Refund Code" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="customerrefund_DATE" caption="Refund Date" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="customer_BALANCE" caption="Balance" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="customerrefund_AMOUNT" caption="Amount" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="exchange_RATE" caption="Rate" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="check_NUMBER" caption="Check Number" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="creditcard_NUMBER" caption="Card Number" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="expire_DATE" caption="Expire Date" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="name_ONCARD" caption="Name On Card" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="card_STREET" caption="Street" cssClass="myClass"
                            alignment="left"></dxi-column>
                        <dxi-column dataField="card_ZIPCODE" caption="Zip Code" cssClass="myClass"
                            alignment="left"></dxi-column>

                        <dxi-column [width]="100" dataField="isapproved" caption="Approved" cssClass="myClass"
                            alignment="center"></dxi-column>
                        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
                            alignment="center"></dxi-column>

                        <div *dxTemplate="let data of 'cellTemplate'">
                            <a href="javascript:void" class="" (click)="update(data)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="view==22" class="form-group">
    <div class="outer-div">
        <div class="grid-wrapper">
            <dx-data-grid #grid id="gridContainer" [dataSource]="customerrefundsAll" keyExpr="customerrefund_ID"
                [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
                height="600" width="100%" (onToolbarPreparing)="onToolbarPreparingAdvanced($event)">
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-header-filter [visible]="true"></dxo-header-filter>
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-group-panel [visible]="false"></dxo-group-panel>
                <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
                <dxo-scrolling mode="virtual"></dxo-scrolling>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-selection mode="single"></dxo-selection>
                <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
                    cellTemplate="cellTemplate"></dxi-column>

                    <dxi-column dataField="customer.customer_NAME" caption="Customer" cssClass="myClass"
                    alignment="left" ></dxi-column>
                <dxi-column dataField="account.account_CODE" caption="Account" cssClass="myClass" alignment="left"
                    ></dxi-column>
                <dxi-column dataField="currency.exchange_RATE" caption="Currency" cssClass="myClass"
                    alignment="left" ></dxi-column>
                <dxi-column [width]="200" dataField="postingperiod_ID.description" caption="Posting Period"
                    cssClass="myClass" alignment="center" ></dxi-column>
                <dxi-column [width]="200" dataField="refundmethod_ID.description" caption="Refund Method"
                    cssClass="myClass" alignment="center" ></dxi-column>

                <dxi-column dataField="customerrefund_CODE" caption="Refund Code" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="customerrefund_DATE" caption="Refund Date" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="customer_BALANCE" caption="Balance" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="customerrefund_AMOUNT" caption="Amount" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="exchange_RATE" caption="Rate" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="check_NUMBER" caption="Check Number" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="creditcard_NUMBER" caption="Card Number" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="expire_DATE" caption="Expire Date" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="name_ONCARD" caption="Name On Card" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="card_STREET" caption="Street" cssClass="myClass"
                    alignment="left"></dxi-column>
                <dxi-column dataField="card_ZIPCODE" caption="Zip Code" cssClass="myClass"
                    alignment="left"></dxi-column>

                <dxi-column [width]="100" dataField="isapproved" caption="Approved" cssClass="myClass"
                    alignment="center"></dxi-column>
                <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
                    alignment="center"></dxi-column>

                <div *dxTemplate="let data of 'cellTemplate'">
                    <a href="javascript:void" class="" (click)="update(data)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
            </dx-data-grid>
        </div>
    </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && customerrefundAdd(customerrefund)" #f="ngForm"
      novalidate>
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add New Customer Refund
                  </h5>
                  <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true"> ×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6">
                          <app-customer #addcustomer [view]="1" ></app-customer>
                      </div>
                      <div class="col-md-6">
                          <app-account #addaccount [view]="1" ></app-account>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <app-currency #addcurrency [view]="1"></app-currency>
                      </div>
                    <div class="col-md-3">
                      <div class="form-group">
                          <label class="control-label"> Date <span style="color:red">*</span></label>
                          <input type="date" class="form-control" name="customerrefund_DATE"
                              [(ngModel)]="customerrefund.customerrefund_DATE" maxlength="50" required>
                      </div>
                    </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              <label class="control-label"> Amount <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="customerrefund_AMOUNT"
                                  [(ngModel)]="customerrefund.customerrefund_AMOUNT" maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Refund Date <span style="color:red">*</span></label>
                              <input type="date" class="form-control" name="customerrefund_CODE" [(ngModel)]="customerrefund.customerrefund_CODE"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Balance <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="customer_BALANCE" [(ngModel)]="customerrefund.customer_BALANCE"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Rate <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="exchange_RATE" [(ngModel)]="customerrefund.exchange_RATE"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Name On Card <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="name_ONCARD" [(ngModel)]="customerrefund.name_ONCARD"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Check Number <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="check_NUMBER" [(ngModel)]="customerrefund.check_NUMBER"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Number <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="creditcard_NUMBER" [(ngModel)]="customerrefund.creditcard_NUMBER"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Expire Date <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="expire_DATE" [(ngModel)]="customerrefund.expire_DATE"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Street <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="card_STREET" [(ngModel)]="customerrefund.card_STREET"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Zip Code <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="card_ZIPCODE" [(ngModel)]="customerrefund.card_ZIPCODE"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                          <div class="checkbox">
                              <label class="control-label">
                                  <input type="checkbox" [checked]="customerrefund.isapproved"
                                      [(ngModel)]="customerrefund.isapproved" name="isapproved">
                                  Approved
                              </label>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add
                  </button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && customerrefundUpdate(customerrefund)" #f="ngForm"
      novalidate>
      <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      <i class="fa fa-plus" aria-hidden="true"></i> Edit Customer Refund
                  </h5>
                  <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                      <span aria-hidden="true"> ×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6">
                          <app-customer #addcustomer [view]="1" ></app-customer>
                      </div>
                      <div class="col-md-6">
                          <app-account #addaccount [view]="1" ></app-account>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <app-currency #addcurrency [view]="1"></app-currency>
                      </div>
                    <div class="col-md-3">
                      <div class="form-group">
                          <label class="control-label"> Date <span style="color:red">*</span></label>
                          <input type="date" class="form-control" name="customerrefund_DATE"
                              [(ngModel)]="customerrefund.customerrefund_DATE" maxlength="50" required>
                      </div>
                    </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              <label class="control-label"> Amount <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="customerrefund_AMOUNT"
                                  [(ngModel)]="customerrefund.customerrefund_AMOUNT" maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Refund Date <span style="color:red">*</span></label>
                              <input type="date" class="form-control" name="customerrefund_CODE" [(ngModel)]="customerrefund.customerrefund_CODE"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Balance <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="customer_BALANCE" [(ngModel)]="customerrefund.customer_BALANCE"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Rate <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="exchange_RATE" [(ngModel)]="customerrefund.exchange_RATE"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Name On Card <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="name_ONCARD" [(ngModel)]="customerrefund.name_ONCARD"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Check Number <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="check_NUMBER" [(ngModel)]="customerrefund.check_NUMBER"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Number <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="creditcard_NUMBER" [(ngModel)]="customerrefund.creditcard_NUMBER"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Expire Date <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="expire_DATE" [(ngModel)]="customerrefund.expire_DATE"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Street <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="card_STREET" [(ngModel)]="customerrefund.card_STREET"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Zip Code <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="card_ZIPCODE" [(ngModel)]="customerrefund.card_ZIPCODE"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                          <div class="checkbox">
                              <label class="control-label">
                                  <input type="checkbox" [checked]="customerrefund.isapproved"
                                      [(ngModel)]="customerrefund.isapproved" name="isapproved">
                                  Approved
                              </label>
                          </div>
                      </div>
                  </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <div class="checkbox">
                                  <label class="control-label">
                                      <input type="checkbox" [checked]="customerrefund.isactive"
                                          [(ngModel)]="customerrefund.isactive" name="isactive">
                                      Active
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
                      <i class="fa fa-plus" aria-hidden="true"></i> Update
                  </button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </div>
          </div>
      </div>
  </form>
</div>

<div *ngIf="view==5" class="form-group">
  <div class="card-primary card">
      <div class="card-header">
          <div class="align-items-center row">
              <div class="col" *ngIf="customerrefund.customerrefund_ID==0">
                  <a href="javascript:void" aria-controls="collapse-customerrefundinfo1" aria-expanded="true"
                      class="card-title">Add New Customer Refund
                  </a>
              </div>
              <div class="col" *ngIf="customerrefund.customerrefund_ID!=0 && disabled==false">
                  <a href="javascript:void" aria-controls="collapse-customerrefundinfo1" aria-expanded="true"
                      class="card-title">Edit Customer Refund
                  </a>
              </div>
              <div class="col" *ngIf="customerrefund.customerrefund_ID!=0 && disabled==true">
                  <a href="javascript:void" aria-controls="collapse-customerrefundinfo1" aria-expanded="true"
                      class="card-title">Customer Refund
                  </a>
              </div>
          </div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-lg-12">
                  <div class="row">
                      <div class="col-md-6">
                          <app-customer #customer [view]="1" [customerID]="customerrefund.customer_ID"
                          [disabled]="disabled" ></app-customer>
                      </div>
                      <div class="col-md-6">
                          <app-account #account [view]="1" [accountID]="customerrefund.account_ID"
                          [disabled]="disabled" ></app-account>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <app-currency #currency [view]="1" [currencyID]="customerrefund.currency_ID" [disabled]="disabled"></app-currency>
                      </div>
                    <div class="col-md-3">
                      <div class="form-group">
                          <label class="control-label"> Date <span style="color:red">*</span></label>
                          <input type="date" class="form-control" name="customerrefund_DATE" [disabled]="disabled"
                              [(ngModel)]="customerrefund.customerrefund_DATE" maxlength="50" required>
                      </div>
                    </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              <label class="control-label"> Amount <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="customerrefund_AMOUNT" [disabled]="disabled"
                                  [(ngModel)]="customerrefund.customerrefund_AMOUNT" maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Refund Date <span style="color:red">*</span></label>
                              <input type="date" class="form-control" name="customerrefund_CODE" [(ngModel)]="customerrefund.customerrefund_CODE" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Balance <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="customer_BALANCE" [(ngModel)]="customerrefund.customer_BALANCE" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Rate <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="exchange_RATE" [(ngModel)]="customerrefund.exchange_RATE" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Name On Card <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="name_ONCARD" [(ngModel)]="customerrefund.name_ONCARD" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Check Number <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="check_NUMBER" [(ngModel)]="customerrefund.check_NUMBER" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Number <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="creditcard_NUMBER" [(ngModel)]="customerrefund.creditcard_NUMBER" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Expire Date <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="expire_DATE" [(ngModel)]="customerrefund.expire_DATE" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Street <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="card_STREET" [(ngModel)]="customerrefund.card_STREET" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="form-group">
                              <label class="control-label"> Card Zip Code <span style="color:red">*</span></label>
                              <input type="text" class="form-control" name="card_ZIPCODE" [(ngModel)]="customerrefund.card_ZIPCODE" [disabled]="disabled"
                                  maxlength="50" required>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" *ngIf="customerrefund.customerrefund_ID!=0">
                      <div class="form-group">
                          <div class="checkbox">
                              <label class="control-label">
                                  <input type="checkbox" [checked]="customerrefund.isapproved"
                                      [(ngModel)]="customerrefund.isapproved" [disabled]="disabled"
                                      name="isapproved">
                                  Approved
                              </label>
                          </div>
                      </div>
                    </div>
                      <div class="col-md-6" *ngIf="customerrefund.customerrefund_ID!=0">
                          <div class="form-group">
                              <div class="checkbox">
                                  <label class="control-label">
                                      <input type="checkbox" [checked]="customerrefund.isactive"
                                          [(ngModel)]="customerrefund.isactive" [disabled]="disabled"
                                          name="isactive">
                                      Active
                                  </label>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <button *ngIf="customerrefund.customerrefund_ID!=0 && disabled==true"
                              (click)="editView()" id="cancel" class="btn btn-primary" style="float: right;"> Edit
                          </button>
                          <button *ngIf="disabled==false" type="button" (click)='customerrefundCancel()'
                              style="float: right;" class="btn btn-light" data-dismiss="modal"> Cancel
                          </button>
                          <button *ngIf="customerrefund.customerrefund_ID!=0 && disabled==false" type="button"
                              data-dismiss="modal" style=" margin-right: 10px; float: right;"
                              (click)='customerrefundUpdate(customerrefund)' class="btn btn-primary">
                              Update
                          </button>
                          <button *ngIf="customerrefund.customerrefund_ID==0" type="button"
                              data-dismiss="modal" style=" margin-right: 10px; float: right;"
                              (click)='customerrefundAdd(customerrefund)' class="btn btn-primary">
                              Save
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
