<div class="form-group">
    <label class="custom-label form-label">Payment Method
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="paymentmethodID" [disabled]="disabled" name="paymentmethodID" maxlength="50">
                <ng-option *ngFor="let paymentmethod of paymentmethodsAll" [value]="paymentmethod.id" [disabled]="disabled">
                    {{ paymentmethod.description }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="paymentmethodID" [disabled]="disabled" name="paymentmethodID" maxlength="50">
                <ng-option *ngFor="let paymentmethod of paymentmethods" [value]="paymentmethod.id" [disabled]="disabled">
                   {{ paymentmethod.description }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="paymentmethodGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
  </div>