<div *ngIf="view==2" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="chartofaccountsAll" keyExpr="ledger_ID"
        [showColumnLines]="true" [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
        [allowColumnResizing]="true" [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true"
        height="600" width="100%" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column dataField="ledger_CODE" caption="Code" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="ledger_NAME" caption="Name" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="accountclassification_DETAIL" caption="Classification" cssClass="myClass"
          alignment="left" [groupIndex]="1"></dxi-column>
        <dxi-column dataField="accountclassification.accounttype_DETAIL" caption="Type" cssClass="myClass"
          alignment="left" [groupIndex]="0"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
          alignment="center"></dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="update(data)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *ngIf="view==22" class="form-group">
  <div class="outer-div">
    <div class="grid-wrapper">
      <dx-data-grid #grid id="gridContainer" [dataSource]="chartofaccounts" keyExpr="ledger_ID" [showColumnLines]="true"
        [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
        [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true" height="600" width="100%"
        (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-group-panel [visible]="false"></dxo-group-panel>
        <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-sorting mode="multiple"></dxo-sorting>
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column dataField="ledger_CODE" caption="Code" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="ledger_NAME" caption="Name" cssClass="myClass" alignment="left"></dxi-column>
        <dxi-column dataField="accountclassification_DETAIL" caption="Classification" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column dataField="accountclassification.accounttype_DETAIL" caption="Type" cssClass="myClass"
          alignment="left"></dxi-column>
        <dxi-column [width]="100" dataField="isactive" caption="Active" cssClass="myClass"
          alignment="center"></dxi-column>

        <div *dxTemplate="let data of 'cellTemplate'">
          <a href="javascript:void" class="" (click)="update(data)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>
