<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 footer-item">
        <h4>EFinance</h4>
        <p>Managing finances made easy with EFinance. <br> Get social with us and never miss a beat.</p>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/efinanceteam/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/e._.finance/"><i class="fa fa-instagram"></i></a>
          </li>
          <li><a href="https://twitter.com/E__Finance"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com/in/e-finance-58261b274/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-item">
        <h4>Support</h4>
        <ul class="menu-list">
          <li><a href="http://fyp.cwiztech.com/efinance/#/home/services">Our Services</a></li>
          <li><a href="http://fyp.cwiztech.com/efinance/#/home/about">About Us</a></li>
          <li><a href="http://fyp.cwiztech.com/efinance/#/home/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-item">
        <h4>Policies</h4>
        <ul class="menu-list">

          <li><a href="http://fyp.cwiztech.com/efinance/#/home/legal">Legal</a></li>
          <li><a href="http://fyp.cwiztech.com/efinance/#/home/privacy">Privacy Policy</a></li>
          <li><a href="http://fyp.cwiztech.com/efinance/#/home/terms">Terms of Service</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <p><center>Copyright &copy; 2023 EFinance. All Rights Reserved.</center></p> -->
          <p class="center-text">Copyright &copy; 2023 EFinance. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
