<div *ngIf="view==1" class="form-group">
    <label class="custom-label form-label"> Customer
        <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
    </label>
    <div class="row">
        <div class="col-md-10" *ngIf="disabled==true">
            <ng-select [(ngModel)]="customerID" [disabled]="disabled" name="customerID">
                <ng-option *ngFor="let customer of customersAll" [value]="customer.customer_ID">
                    {{ customer.customer_CODE }} - {{ customer.customer_NAME }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-10" *ngIf="disabled==false">
            <ng-select [(ngModel)]="customerID" [disabled]="disabled" name="customerID">
                <ng-option *ngFor="let customer of customers" [value]="customer.customer_ID">
                    {{ customer.customer_CODE }} - {{ customer.customer_NAME }}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="customerGet()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
